# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment
.env
.venv/
env/
venv/

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Coverage
htmlcov/
.coverage
.tox/
.nox/
.cache/
coverage.xml

# Build
build/
dist/
*.egg-info/
.eggs/

# Misc
*.swp
*.swo
*.bak