@import url(reset.css);

/* Add link button */
#add-link {
  margin-top: 8px;
  background-color: transparent;
  border: 1px solid #007aff;
  color: #007aff;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.2s ease;
  width: fit-content;
}

.remove-link {
  margin: auto;
  background-color: transparent;
  border: 0px;
  color: red;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.2s ease;
  width: fit-content;
} 

#add-link:hover {
  background-color: #007aff;
  color: #fff;
}

button[type="submit"]:hover {
  background-color: #005bb5;
}
